Source: firmware-rtw88
Section: non-free/kernel
Priority: extra
Maintainer: Matias De lellis <mati86dl@gmail.com>
Build-Depends: debhelper (>=11.0.0)
Standards-Version: 3.9.8
Vcs-Git: https://github.com/HuayraLinux/rtw88-dkms.git

Package: firmware-rtw88
Architecture: all
Depends: ${misc:Depends}, firmware-realtek ( >= 20210315-3)
Conflicts: firmware-rtw88 ( <= 0.6.1)
Replaces: firmware-rtw88 (<= 0.6.1)
Description: Firmwares nuevos para dispositivos realtek rtw88 (transitional)
 Este firmware ya viene el firmware-realtek (debian 11) 
 transitional package.